@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


body {
	margin: 0;
	overflow: hidden;
}

canvas {
	background-image: radial-gradient(#68EACC 0%, #497BE8 100%);
}

#instructions {
	position: absolute;
	color: #fff;
	bottom: 0;
	padding-bottom: 6px;
	font-family: sans-serif;
	width: 100%;
	text-align: center;
	pointer-events: none;
}

.text-logo {
  color: rgb(142, 73, 232);
  font-family: 'Poppins', sans-serif;
}